.mainpane{
    -fx-background-color:#9E9E9E;
}
.pane{
    -fx-background-color:#BDBDBD ;
}
.signinpane{
    -fx-background-color:#00B0FF;
}
.logbutton{
    -fx-background-color:#00B0FF;
    -fx-text-fill:white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}
.signinlable{
    -fx-text-fill:white;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}
.loginlable{
    -fx-text-fill:white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}
.usernamepane{
    -fx-background-color:white;
}
.password{
    -fx-background-color:white;
}







                /*rooms fields*/


.roomheadLabel{
    -fx-text-fill:#00B0FF;
    -fx-font-weight:bold;
    -fx-font-size: 40;
}

.roomformbgcolour{
    -fx-background-color:#BDBDBD;
}


            /*Dashboard*/

.dashboardmain{
    -fx-background-color:#9E9E9E;
}
.dashbordshortpane{
    -fx-background-color:#9E9E9E;
}
.Btn:hover{

    -fx-background-color:#00B0FF;


}
.dashinpane{
    -fx-background-color:white;
}
.hoverbtnchange{
    -fx-text-fill:white;
    -fx-font-weight: bold;
    -fx-font-size:26;
}



                    /*Students*/

.sudentheadLabel{
    -fx-text-fill:#00B0FF;
    -fx-font-weight:bold;
    -fx-font-size: 30;
}

.sudentformbgcolour{
    -fx-background-color:#BDBDBD;
}








